.setting{
    display: flex;
}
.settingwrapper{
    flex:9;
    padding: 20px;
}
.settingtitle{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.settingupdatetitle{
    font-size: 30px;
    margin-bottom: 20px;
    color:lightcoral
}
.settingdeletetitle{
    color:red;
    font-size: 20px;
    cursor: pointer;
}
.settingForm{
    display: flex;
    flex-direction: column;
}
.profilepicture{
    display: flex;
    align-items: center;
    margin:10px 0px;
}
.profilepicture >img {
    width: 70px;
    height:70px;
    border-radius: 50%;
    object-fit: contain;
}
.setprofileicon{
    width: 25px;
    height:25px;
    border-radius: 50%;
    background-color: lightcoral;
    color:white;
    display:flex;
    align-items: center;
    justify-content:center;
    cursor:pointer
}
.settingForm >label {
    font-size: 20px;
    margin-top: 20px;

}
.settingForm>input{
    color:grey;
    margin: 10px 0;
    height:30px;
    border:none;
    border-bottom: 2px solid grey;
}
.settingUpdate{
    width: 150px;
    align-self: center;
    border:none;
    border-radius: 10px;
    color:white;
    background-color: teal;
    padding:10px;
    margin-top: 20;
    cursor: pointer;
}